patas_felizes/Projecto_Final_Django__JoseValerio.mp4 filter=lfs diff=lfs merge=lfs -text
PyGame/Projecto[[:space:]]Final.zip filter=lfs diff=lfs merge=lfs -text
patas_felizes/Projecto_Final_Django__JoseValerio.mp4 filter=lfs diff=lfs merge=lfs -text
patas_felizes/Projecto_Final_Django__JoseValerio.mp4 filter=lfs diff=lfs merge=lfs -text
PyGame/Projecto[[:space:]]Final.zip filter=lfs diff=lfs merge=lfs -text
